<h1>All Houses</h1>

<!-- iterate through houses and their candies here -->
<ul>
<% House.all.each do |house| %>
  <li>Address: <%= house.address %></li>
  <ul>
  	<% house.unclaimed_candies.each do |candy| %>
  	  <li><%= candy.name %></li>
  	<% end %>
  </ul>
<% end %>
</ul>